.overall-inventory-container {
    background-color: #fffaf1;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 200px; /* Set a fixed height */
    overflow: hidden; /* Hide overflow content */
}

.overall-header-row {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: none; /* Ensure the bottom border is removed */
    height: 50px; /* Set a fixed height */
}

.overall-column {
    flex: 1;
    color: #2f7fef;
    padding: 10px;
    text-align: center;
    position: relative; /* Added for positioning the additional text */
}

.overall-column + .overall-column {
    border-left: 2px solid #ece3d6; /* Add a left border to each column except the first one */
}

.overall-data-row .overall-column {
    color: #6a6f79;
}

.overall-inventory-header {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 1.5em;
}

.container-rounded {
    margin-bottom: 20px;
}

.header-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-row {
    display: flex;
    gap: 10px;
}

.add-product-button, .other-button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-product-button {
    background-color: #2f7fef;
    color: white;
    border: none;
}

.add-product-button:hover {
    background-color: #1e5fbb;
}

.other-button {
    background-color: transparent;
    color: #8b909b;
    border: 1px solid #8b909b;
}

.other-button:hover {
    background-color: #f1f1f1;
}

.column-text {
    font-size: 1em;
    color: #6a6f79;
    display: block;
    position: absolute;
    bottom: -50px; /* Adjust this value according to your preference */
    left: 50%;
    transform: translateX(-50%);
}

.column-subtext {
    font-size: 1em;
    color: #6a6f79;
    display: block;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 50%;
}
