.inv-inventory-container {
    background-color: #fffaf1;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.inv-header-row, .inv-data-row {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.inv-header-row {
    border-bottom: 2px solid #ece3d6;
}

.inv-column {
    flex: 1;
    padding: 10px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.inv-data-row .inv-column {
    color: #6a6f79;
    font-size: 0.9em;
    font-weight: normal;
    text-align: center;
}

.inv-inventory-header {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 1.5em;
}

.header-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-row {
    display: flex;
    gap: 10px;
}

.add-product-button, .other-button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-product-button {
    background-color: #2f7fef;
    color: white;
    border: none;
}

.add-product-button:hover {
    background-color: #1e5fbb;
}

.other-button {
    background-color: transparent;
    color: #8b909b;
    border: 1px solid #8b909b;
}

.other-button:hover {
    background-color: #f1f1f1;
}

.inv-data-row:hover {
    background-color: #b84b4e;
    cursor: pointer;
    color: white;
}

.inv-data-row:hover .inv-column {
    color: inherit;
}
