.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 101, 101, 0.5);
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.custom-modal {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.custom-modal-body {
    display: flex;
    justify-content: space-between;
}

.custom-product-details {
    flex: 3;
}

.custom-product-image {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.custom-product-image img {
    max-width: 100%;
    height: auto;
}

.custom-no-image {
    font-size: 16px;
    color: #ccc;
}

.custom-close-button {
    align-self: flex-end;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
