.inventory-container {
  position: relative;
  top: 0;
  right: 0;
  margin: 0px;
  padding: 15px;
  background-color: #FFFAF1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.inventory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  flex-grow: 1;
}

.search-box {
  position: relative;
  display: flex;
  width: 20%;
  margin-top: 17px;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 8px;
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #FFFAF1;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.icon-notif {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  opacity: 50%;
}

.icon-profile {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 10px;
  width: 42px;
  height: 42px;
}


.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  top: 35px;
  right: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}